
/* 
    flex-shrink: 0; = don't shrink
    width: 0; = shrink
*/

.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* z-index default is 0 */

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 2px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}   

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 39px;
    width: 60px;
    background-color: rgb(247, 247, 247);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    /* border-radius: 1px; */
    margin-left: -2px;
    margin-right: 10px;

}

.search-button, 
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
    font-family: 'Roboto', 'Arial';
    position: absolute;
    bottom: -30px;
    background-color: rgb(104, 103, 103);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;

    opacity: 0;
    transition: opacity 0.15s;
    /* Prevent hover from tooltip */
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
}

.voice-search-icon {
    height: 24px;
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
    /* The flex-shrink property specifies how the item will shrink relative to the rest of the flexible items inside the same container. */
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.notifications-icon-count {
    position: absolute;
    background-color: rgb(204, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    top: -3px;
    right: -5px;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
}