.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture-container {
    display: inline-block;
    height: 36px;
    position: relative;
}

.channel-picture-container .tooltip {
    position: absolute;
    width: 250px;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;

    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.channel-picture-container:hover .tooltip {
    opacity: 1;
}

.picture-tooltip {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-left: 10px;
}

.info-tooltip {
    margin-left: 8px;
}

.name-tooltip {
    font-size: 16px;
    font-weight: bold;
}

.stats-tooltip {
    font-size: 14px;
    color: rgb(145, 132, 132);
}

.channel-picture {
    /* background-color: gray; */
}

.video-info {
    /* background-color: gray; */
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}


.thumbnail-row {
    position: relative;
    margin-bottom: 8px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 751px) and (min-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time {
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    background-color: black;
    color: white;
}